# ---------- Python (Backend) ----------
**/__pycache__/
*.pyc
backend/venv/
backend/.venv/
backend/.env

# ---------- Node (Frontend) ----------
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# ---------- Editor / OS ----------
.vscode/
.DS_Store
Thumbs.db

# ---------- Logs ----------
*.log
*.pdf